[submodule "Pro-copyrighting_(landing-page)"]
	path = Pro-copyrighting_(landing-page)
	url = https://github.com/mak017/Pro-Copyrighting.git
[submodule "Project-Places"]
	path = Project-Places
	url = https://github.com/mak017/Project-Places.git
