[submodule "Pro-copyrighting_(landing-page)"]
	path = Pro-copyrighting_(landing-page)
	url = https://github.com/mak017/Pro-Copyrighting.git
[submodule "Project-Places"]
	path = Project-Places
	url = https://github.com/mak017/Project-Places.git
[submodule "oss-test-front-end"]
	path = oss-test-front-end
	url = https://github.com/mak017/oss-test.git
[submodule "grossum-test"]
	path = grossum-test
	url = https://github.com/mak017/Grossum-Test.git
[submodule "1Platforma-Energy-Audit"]
	path = 1Platforma-Energy-Audit
	url = https://github.com/mak017/1Platforma-Energy-Audit.git
